body {
 background-image: url('../src/assets/img/vintage-old-rustic-cutlery-dark_1220-4886-3Bpz4s0lK-transformed.jpeg');
 background-repeat: no-repeat;
 min-height: 100vh;
 
 position:static;
 margin: 0;
 /* background-color: #0A0A0A; */
 background-size: cover;
 background-position: 0 0;
 background-attachment: fixed;
 




}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #494545; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
